{%- if nav_item.url %}
    <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
{%- else %}
    <span class="caption-text">{{ nav_item.title }}</span>
{%- endif %}

{%- if nav_item == page or nav_item.children %}
    <ul class="subnav yey">
        {%- if nav_item == page %}
            {% include 'toc.html' %}
        {%- endif %}
        {%- if nav_item.children %}
            {%- set navlevel = navlevel + 1%}
            {%- for nav_item in nav_item.children %}
                <li class="{% if navlevel > 2 %}toctree-l{{ navlevel }}{% endif %}{% if nav_item.active%} current{%endif%}">
                    {% include 'nav.html' %}
                </li>
            {%- endfor %}
            <li {% if nav_item.active %}class="active"{% endif %}>
                        <a href="http://bindtuning-licenses.readthedocs.io/en/latest/">Licenses</a>
            </li>
            {%- set navlevel = navlevel - 1%}
        {%- endif %}
    </ul>
{%- endif %}
